<div class="table">
  <div
    *ngIf="title"
    className="bg-gray-300 rounded-t-lg px-4 py-3 flex justify-between items-center"
  >
    <h2 className="font-bold text-neutral-900 text-lg">{{ title || "" }}</h2>
    <!-- <div className="flex gap-x-4 items-center">
            {isFetching && !isLoading && <SpinningLoader />}
            {actions ?? ''}
          </div> -->
  </div>
  <table class="w-[100%] rounded-b-lg border shadow-md">
    <thead class="text-left text-sm bg-primary-50 text-neutral-800 border-b">
      <tr class="h-12">
        <th class="text-center py-2" *ngIf="!noSN">S.N</th>
        <th class="py-2 text-center" *ngFor="let headers of tableHeaders">
          {{ headers.headerLabel.toUpperCase() }}
        </th>
      </tr>
    </thead>
    <tbody class="text-sm text-neutral-800">
      <tr
        class="h-12 border-gray-300 transition-all hover:shadow-md [&:not(:last-child)]:border-b"
        *ngFor="let data of tableData"
      >
        <td *ngIf="!noSN">
          {{ perPage * pageIndex + tableData.indexOf(data) + 1 }}
        </td>
        <td
          class="py-2 px-4 break-all align-center text-center"
          *ngFor="let head of tableHeaders"
        >
          {{ head.render ? head.render?.(data?.[head.key],data): data?.[head.key]??"-" }}
        </td>
      </tr>
    </tbody>
  </table>

  <app-pagination
    [pageSize]="perPage"
    [totalCount]="dataSource.length"
    (handlePageChange)="handlePagination($event)"
  ></app-pagination>
</div>
