<div
  class="flex justify-between bg-[#212E4C] w-full py-4 m-0 px-2 rounded-bl-xl rounded-br-xl"
>
  <a [routerLink]="['/pokemon', id - 1]">
    <img src="assets/ArrowLeft.svg" alt="" />
  </a>
  <a [routerLink]="['']"><img src="assets/HomeIcon.svg" alt="" /></a>
  <a [routerLink]="['/battle', { pokemon1: id }]"
    ><img src="assets/BattleIcon.svg" alt=""
  /></a>
  <a [routerLink]="['/pokemon', id + 1]">
    <img src="assets/ArrowLeft.svg" alt="" class="rotate-180" />
  </a>
</div>

<router-outlet></router-outlet>
